<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (IE 9)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->
<head>

<!-- Meta Tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Achievements</title>   

<meta name="description" content="Insert Your Site Description" /> 

<!-- Mobile Specifics -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="HandheldFriendly" content="true"/>
<meta name="MobileOptimized" content="320"/>   

<!-- Mobile Internet Explorer ClearType Technology -->
<!--[if IEMobile]>  <meta http-equiv="cleartype" content="on">  <![endif]-->

<!-- Bootstrap -->
<link href="_include/css/bootstrap.min.css" rel="stylesheet">

<!-- Main Style -->
<link href="_include/css/main.css" rel="stylesheet">

<!-- Supersized -->
<link href="_include/css/supersized.css" rel="stylesheet">
<link href="_include/css/supersized.shutter.css" rel="stylesheet">

<!-- FancyBox -->
<link href="_include/css/fancybox/jquery.fancybox.css" rel="stylesheet">

<!-- Font Icons -->
<link href="_include/css/fonts.css" rel="stylesheet">

<!-- Shortcodes -->
<link href="_include/css/shortcodes.css" rel="stylesheet">

<!-- Responsive -->
<link href="_include/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="_include/css/responsive.css" rel="stylesheet">

<!-- Google Font -->
<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900' rel='stylesheet' type='text/css'>

<!-- Fav Icon -->
<link rel="shortcut icon" href="#">

<link rel="apple-touch-icon" href="#">
<link rel="apple-touch-icon" sizes="114x114" href="#">
<link rel="apple-touch-icon" sizes="72x72" href="#">
<link rel="apple-touch-icon" sizes="144x144" href="#">

<!-- Modernizr -->
<script src="_include/js/modernizr.js"></script>

<!-- Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'Insert Your Code']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- End Analytics -->

</head>


<body>

<!-- This section is for Splash Screen -->
<section id="jSplash">
	<div id="circle"></div>
</section>
<!-- End of Splash Screen -->

<!-- Homepage Slider -->
<div id="home-slider" style="height:50%;"> 

		<!--Slider Image--><div><img id="Robit" src="https://farm2.staticflickr.com/1539/24810652041_a93dd35169_c.jpg"></div>


		
		<div class="slider-background">

			<div class="slidecaption" style="font: Bold; font-size: 120px; color: #ff6900">              </div>
		
		</div>
		<div class="slider-text"> Team Fusion #364</div>
		
		

		<div class="control-nav">

			<a id="nextsection" href="#about"><i class="font-icon-arrow-simple-down"></i></a>


		</div>


		</div>
<!-- End Homepage Slider -->

<!-- Header -->
<header>


		<div class="sticky-nav">


			<a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>


			<div id="logo">


				<a id="goUp" href="#home-slider" title="Team Fusion #364"><img src="https://farm2.staticflickr.com/1472/24901897906_c71c6c6f77_b.jpg" ></a>


			</div>


			<nav id="menu">


				<ul id="menu-nav">


					<li class="current"><a href="#home-slider"><strong>Home</strong></a></li>

					<li><a href="#work"><strong>Teams</strong></a></li>
					
					<li><a href="#sub-teams"><strong>Sub-Teams</strong></a></li>
					
					<li><a href="#sponsors"><strong>Sponsors</strong></a></li>

					<li><a href="#contact"><strong>Contact</strong></a></li>
					
					<li><a href="#parent"><strong>Parent Center</strong></a></li>


					<!--<li><a href="shortcodes.html" class="external">Shortcodes</a></li>-->


				</ul>


			</nav>


		</div>


	</header>
<!-- End Header -->

<!-- Our Shortcodes Section -->
<div id="acheivements" class="page-2">
	<div class="container">
    
    	<!-- Title Page -->
        <div class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title">Achievements</h2>
                    <h3 class="title-description"><p>Team Fusion works hard at what it does and never does that work go unreognized. Our work has earned us a vast array of awards and recognition. This includes President Barack Obama and many more.</p></h3>
                </div>
            </div>
        </div>
        <!-- End Title Page -->
		
				<h3>Recognition</h3>
		<p><strong>President Barack Obama</strong> - In 2015, President Obama sent Team Fusion #364 a letter of approval and encouragement</p>
		<p><strong>Mississippi Governer Ronnie Musgrove</strong> issued Team Fusion the State of Mississippi Commitment to Excellence Award</p>
		<p><strong>Former Gulfport Mayor Bob Short</strong> declared February 27 "Team Fusion Day"</p>
		<p><strong>The Sun Herald</strong>, our local newspaper, and <strong>WLOX TV</strong>, our local news station, have featured Team Fusion in numerous articles</p>
		<br>
		
		<!-- Start Tabs -->
        <div class="row">
			<div class="span12">
                
				<center><h3>Awards</h3></center>
				<center><p>Team Fusion has also received the following awards through FRC competitions at the regional and international level.<br><br></p></center>
			
            	<div class="tabbable">
                
                    <ul class="nav nav-tabs container2" id="myTab">
                        <li class="active"><a href="#16" data-toggle="tab">2016</a></li>
                        <li><a href="#15" data-toggle="tab">2015</a></li>
                        <li><a href="#14" data-toggle="tab">2014</a></li>
						<li><a href="#13" data-toggle="tab">2013</a></li>
                        <li><a href="#12" data-toggle="tab">2012</a></li>
						<li><a href="#11" data-toggle="tab">2011</a></li>
						<li><a href="#10" data-toggle="tab">2010</a></li>
                        <li><a href="#09" data-toggle="tab">2009</a></li>
						<li><a href="#08" data-toggle="tab">2008</a></li>
                        <li><a href="#07" data-toggle="tab">2007</a></li>
						<li><a href="#06" data-toggle="tab">2006</a></li>
						<li><a href="#05" data-toggle="tab">2005</a></li>
                        <li><a href="#04" data-toggle="tab">2004</a></li>
						<li><a href="#03" data-toggle="tab">2003</a></li>
                        <li><a href="#02" data-toggle="tab">2002</a></li>
						<li><a href="#01" data-toggle="tab">2001</a></li>
						<li><a href="#00" data-toggle="tab">2000</a></li>
                        						
                    </ul>
                 
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="16">
							<strong><p>Soon to come!</p></strong>
                        </div>
						
                        <div class="tab-pane fade in" id="15">
                            <strong><p>Bayou Regional Finalist Alliance</p></strong>
                        </div>
						
                        <div class="tab-pane fade in" id="14">
							<strong><p>Bayou Regional Champions
							<br>Bayou Regional Judge's Award for Robot Design</p></strong>
                        </div>
						
						<div class="tab-pane fade in" id="13">
							<strong><p>Red Stick Rumble Champions<br>
							<br>Bayou Regional Quality Award</p></strong>
                        </div>
						
                        <div class="tab-pane fade in" id="12">
							<strong><p>
							Woodie Flowers Award<br><br>
							Bayou Regional Imagery Award
							<br>Bayou Regional Judge's Award</p></strong>
                        </div>
						
                        <div class="tab-pane fade in" id="11">
							<strong><p>4th Seed Curie Division<br><br>
							Dean's List Award - Nick Jones<br>
							<br>Bayou Regional Champions
							<br>Bayou Regional Quality Award</p></strong>   
                        </div>
						
						<div class="tab-pane fade in" id="10">
							<strong><p>Florida Regional Entrepreneurship Award<br><br>
							Dean’s List Award - Nick Jones<br><br>
							Bayou Regional Best Website Award<br>
							Bayou Regional Entrepreneurship Award<br>
							</p></strong>
                        </div>
						
                        <div class="tab-pane fade in" id="09">
							<strong><p>Bayou Regional Chairman's Award<br>
							Bayou Regional Entrepreneurship Award<br>
							Bayou Regional Autodesk Visualization Award<br>
							Bayou Regional Best Website Award</p></strong>
                        </div>
						
                        <div class="tab-pane fade in" id="08">
							<strong><p>Bayou Regional Chairman's Award</p></strong>
                        </div>
						
						<div class="tab-pane fade in" id="07">
							<strong><p>Archimedes Division Quarter-Finalists<br><br>
							Bayou Regional Finalist Alliance<br>
							Bayou Regional Engineering Inspiration Award<br>
							Bayou Regional Entrepreneurship Award<br>
							Bayou Regional Autodesk Visualization Award<br>
							<br>
							Lonestar Regional Finalist Alliance<br>
							Lonestar Regional Judge's Award<br>
							Lonestar Regional Website Award</p></strong>
                        </div>
						
                        <div class="tab-pane fade in" id="06">
							<strong><p>Lonestar Regional Spirit Award</p></strong>
                        </div>
						
                        <div class="tab-pane fade in" id="05">
							<strong><p>Lonestar Regional Entrepreneurship Award<br>
							Lonestar Regional Autodesk Visualization</p></strong>
                        </div>
						
						<div class="tab-pane fade in" id="04">
							<strong><p>Newton Division Semi-finalists<br><br>
							Lonestar Regional Champions<br>
							Lonestar Regional Johnson and Johnson Sportsmanship Award</p></strong>
                        </div>
						
						<div class="tab-pane fade in" id="03">
							<strong><p>*not applicable*</p></strong>
                        </div>
						
                        <div class="tab-pane fade in" id="02">
							<strong><p>Lonestar Regional Entrepreneurship Award</p></strong>
                        </div>
						
                        <div class="tab-pane fade in" id="01">
							<strong><p>Lonestar Regional Finalist Alliance</p></strong>
                        </div>
						
						<div class="tab-pane fade in" id="00">
							<strong><p>Newton Division Quarter-finalists<br><br>
							Lonestar Regional Champions<br>
							Lonestar Regional Rookie All-Star Award</p></strong>
						</div>
                    </div>
                            
				</div>
            </div>
            <!-- End Tabs -->
        


    </div>
</div>
<!-- End Shortcodes Section -->
        

<!-- Back To Top -->
<a id="back-to-top" href="#">
	<i class="font-icon-arrow-simple-up"></i>
</a>
<!-- End Back to Top -->

<!-- Js -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> <!-- jQuery Core -->
<script src="_include/js/bootstrap.min.js"></script> <!-- Bootstrap -->
<script src="_include/js/supersized.3.2.7.min.js"></script> <!-- Slider -->
<script src="_include/js/waypoints.js"></script> <!-- WayPoints -->
<script src="_include/js/waypoints-sticky.js"></script> <!-- Waypoints for Header -->
<script src="_include/js/jquery.isotope.js"></script> <!-- Isotope Filter -->
<script src="_include/js/jquery.fancybox.pack.js"></script> <!-- Fancybox -->
<script src="_include/js/jquery.fancybox-media.js"></script> <!-- Fancybox for Media -->
<script src="_include/js/jquery.tweet.js"></script> <!-- Tweet -->
<script src="_include/js/plugins.js"></script> <!-- Contains: jPreloader, jQuery Easing, jQuery ScrollTo, jQuery One Page Navi -->
<script src="_include/js/main.js"></script> <!-- Default JS -->
<!-- End Js -->

</body>
</html>