<!Doctype html>
<html>

<head>



	<!-- Meta Tags -->


		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />



		<title>Team Fusion #364</title>   


		<meta name="description" content="Insert Your Site Description" /> 






	<!-- Mobile Specifics -->


		<meta name="viewport" content="width=device-width, initial-scale=1.0">


		<meta name="HandheldFriendly" content="true"/>


		<meta name="MobileOptimized" content="320"/>   







	<!-- Mobile Internet Explorer ClearType Technology -->


		<!--[if IEMobile]><meta http-equiv="cleartype" content="on"><![endif]-->






	<!-- Bootstrap -->


		<link href="_include/css/bootstrap.min.css" rel="stylesheet">

        





	
	<!-- Main Style -->


		<link href="_include/css/main.css" rel="stylesheet">







	<!-- Supersized -->


		<link href="_include/css/supersized.css" rel="stylesheet">


		<link href="_include/css/supersized.shutter.css" rel="stylesheet">








	<!-- FancyBox -->


		<link href="_include/css/fancybox/jquery.fancybox.css" rel="stylesheet">








	<!-- Font Icons -->


		<link href="_include/css/fonts.css" rel="stylesheet">


 






	<!-- Shortcodes -->


		<link href="_include/css/shortcodes.css" rel="stylesheet">

    


	<!-- Responsive -->


		<link href="_include/css/bootstrap-responsive.min.css" rel="stylesheet">


		<link href="_include/css/responsive.css" rel="stylesheet">

 


	<!-- Supersized -->


		<link href="_include/css/supersized.css" rel="stylesheet">


		<link href="_include/css/supersized.shutter.css" rel="stylesheet">


        


	<!-- Google Font -->


		<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900' rel='stylesheet' type='text/css'>


       

	<!-- Fav Icon -->


		<link rel="shortcut icon" href="#">



		<link rel="apple-touch-icon" href="#">


		<link rel="apple-touch-icon" sizes="114x114" href="#">


		<link rel="apple-touch-icon" sizes="72x72" href="#">


		<link rel="apple-touch-icon" sizes="144x144" href="#">








	<!-- Modernizr -->


		<script src="_include/js/modernizr.js"></script>

		<title>Parent Center</title>
</head>

<body>
<div class="container">
<div class="page">

	<img id="fusionLogoParentCenter" src="https://farm2.staticflickr.com/1650/24914217501_e9f6a16a64_b.jpg">

	<div class="container">
		<div class="row">
        <div class="span12">
        <div class="title-page">
			<h2 class="title">Parent Center</h2>
        </div>
		</div>
		</div>
		
		<div class="row">
			<div class="infoBubble">
			<div class="textBox2">
				<p> Team Fusion owes many of its successes to many different factors, but one that never changes is its parents. Fusion parents are essential to our team and we greatly appreciate them. These super atoms help us fuse together and keep our reactions going! However, even parents sometimes need guidance, so here are the Fusion tools to assist our #1 fans in doing what they do to help us.</p>
				<!--<p>Support from the parents of Team Fusion members is vital to ensure that we are encouraged to succeed in all that we do. Team Fusion parents are asked to do two things as part of their commitment to the team. The first is to cook a meal for roughly 50 people on a selected day during the build season. The second is to be part of our parent booster club, which is headed by Rusty Ramage.

There is no fee to join Team Fusion for the students; however, the money raised by our parents through the booster club is greatly appreciated, as it allows all members of the team to stay a part of the team.

Any parent information including sponsorship letters, flyers and other important documents will be posted for your convenience.</p>-->
			</div>
			</div>
		
		</div>

		<p style="text-align: center;"><strong>Click to download file</strong></p>
	
				<div class="row">
			<div class="infoBubble2">
			<div class="textBox1">
				<a class="parentLink" href="http://www.firstfusion364.com/wp-content/uploads/2015/01/Team-Fusion-Golf-Tournament-Donation-Acknowl.docx"><p>Sponsorship form for Golf Tournament</p></a>
			</div>
			</div>
		
		</div>
		
				<div class="row">
			<div class="infoBubble2">
			<div class="textBox1">
				<a class="parentLink" href="http://www.firstfusion364.com/wp-content/uploads/2013/01/TeamFusionMedicalLiabilityReleaseForm.doc"><p>Medical Liability Form</p></a>
			</div>
			</div>
		
		</div>
		
			<div class="row">
			<div class="infoBubble2">
			<div class="textBox1">
				<a class="parentLink" href="http://www.firstfusion364.com/wp-content/uploads/2014/12/Dear-Valued-Sponsor.docx"><p>Valued Sponsor Letter</p></a>
			</div>
			</div>
		
		</div>
		
		
			<!--	
			<div class="row">
			<div class="infoBubble2">
			<div class="textBox1">
				<p>Bleh Bleh</p>
			</div>
			</div>
		
		</div>-->
		
</div>	
</div>
</body>

</html>