
<!DOCTYPE html>


	<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->


	<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->


	<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->


	<!--[if (IE 9)]><html class="no-js ie9" lang="en"><![endif]-->


	<!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->



<head>



	<!-- Meta Tags -->


		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />



		<title>Team Fusion #364</title>   


		<meta name="description" content="Insert Your Site Description" /> 






	<!-- Mobile Specifics -->


		<meta name="viewport" content="width=device-width, initial-scale=1.0">


		<meta name="HandheldFriendly" content="true"/>


		<meta name="MobileOptimized" content="320"/>   







	<!-- Mobile Internet Explorer ClearType Technology -->


		<!--[if IEMobile]><meta http-equiv="cleartype" content="on"><![endif]-->






	<!-- Bootstrap -->


		<link href="_include/css/bootstrap.min.css" rel="stylesheet">

        





	
	<!-- Main Style -->


		<link href="_include/css/main.css" rel="stylesheet">







	<!-- Supersized -->


		<link href="_include/css/supersized.css" rel="stylesheet">


		<link href="_include/css/supersized.shutter.css" rel="stylesheet">








	<!-- FancyBox -->


		<link href="_include/css/fancybox/jquery.fancybox.css" rel="stylesheet">








	<!-- Font Icons -->


		<link href="_include/css/fonts.css" rel="stylesheet">


 






	<!-- Shortcodes -->


		<link href="_include/css/shortcodes.css" rel="stylesheet">

    


	<!-- Responsive -->


		<link href="_include/css/bootstrap-responsive.min.css" rel="stylesheet">


		<link href="_include/css/responsive.css" rel="stylesheet">

 


	<!-- Supersized -->


		<link href="_include/css/supersized.css" rel="stylesheet">


		<link href="_include/css/supersized.shutter.css" rel="stylesheet">


        


	<!-- Google Font -->


		<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900' rel='stylesheet' type='text/css'>


       

	<!-- Fav Icon -->


		<link rel="shortcut icon" href="#">



		<link rel="apple-touch-icon" href="#">


		<link rel="apple-touch-icon" sizes="114x114" href="#">


		<link rel="apple-touch-icon" sizes="72x72" href="#">


		<link rel="apple-touch-icon" sizes="144x144" href="#">








	<!-- Modernizr -->


		<script src="_include/js/modernizr.js"></script>








	<!-- Analytics -->


		<script type="text/javascript">



			var _gaq = _gaq || [];


			_gaq.push(['_setAccount', 'Insert Your Code']);


			_gaq.push(['_trackPageview']);



			(function() {


			var ga = document.createElement('script'); ga.type = 'text/javascript';

			ga.async = true;


			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';


			var s = document.getElementsByTagName('script')[0]; 

			s.parentNode.insertBefore(ga, s);


			})();




		</script>


	<!-- End Analytics -->

  






</head>




	<body>
                


	
		<!-- This section is for Splash Screen -->


		<div class="ole">


		<section id="jSplash">

		<div id="circle">

		</div>


		</section>


		</div>


	<!-- End of Splash Screen -->






	<!-- Homepage Slider -->


		<div id="home-slider"> 

		<div style= "position:absolute;"></div>


		
		<div class="slider-background">

			<div class="slidecaption" style="font: Bold; font-size: 120px; color: #ff6900">              </div>
		
		</div>
		<div class="slider-text"> Team Fusion #364</div>
		
		

		<div class="control-nav">


			<a id="prevslide" class="load-item"><i class="font-icon-arrow-simple-left"></i></a>


			<a id="nextslide" class="load-item"><i class="font-icon-arrow-simple-right"></i></a>


	<ul id="slide-list">
		<li class="slide-link-0">
			<a href="file:///U:/FRC%202016/website/brushed%20(1)%20-%20Copy/Brushed/Template/brushed/Images/2015%20Robot.jpg">
		</li>
			<li class="slide-link-1">
				<a><img src="file:///U:/FRC%202016/website/brushed%20(1)%20-%20Copy/Brushed/Template/brushed/Images/2015%20Robot.jpg"></a>
			</li>
				<li class="slide-link-2 current-slide">
					<a></a>
				</li>
				<li class="slide-link-3">
					<a></a>
				</li>
			</ul>


			<a id="nextsection" href="#work"><i class="font-icon-arrow-simple-down"></i></a>


		</div>


		</div>


	<!-- End Homepage Slider -->






	<!-- Header -->


	<header>


		<div class="sticky-nav">


			<a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>


			<div id="logo">


				<a id="goUp" href="#home-slider" title="Team Fusion #364">Team Fusion #364</a>


			</div>


			<nav id="menu">


				<ul id="menu-nav">


					<li class="current"><a href="#home-slider">Home</a></li>


					<li><a href="#work">Teams</a></li>


					<li><a href="#about">Info</a></li>

					<li><a href="#contact">Contact</a></li>


					<li><a href="shortcodes.html" class="external">Shortcodes</a></li>


				</ul>


			</nav>


		</div>


	</header>


	<!-- End Header -->


<!-- Current Projects Section -->


	<div id="work" class="page-alternate">


		<div class="container">


		<!-- Title Page -->


			<div class="row">


				<div class="span12">


                			<div class="title-page">


						<h2 class="title">Teams</h2>


						<h3 class="title-description">Team Fusion #364 is comprised of many different teams to <em>fuse</em> together like a strong compound.</h3>


					</div>


            			</div>


        		</div>

   		<!-- End Title Page -->
     


   
   		<!-- Portfolio Projects -->


			<div class="row">


				<div class="span3">

                           
						   


					<!-- Filter -->


					<nav id="options" class="work-nav">


						<ul id="filters" class="option-set" data-option-key="filter">


							<li class="type-work">Team</li>


							<li><a href="#filter" data-option-value="*" class="selected">All Teams</a></li>


							<li><a href="#filter" data-option-value=".design">Team Fusion FRC#364</a></li>


							<li><a id ="hunter" href="#filter" data-option-value=".photography" >Lemelson-MIT InvenTeam</a></li>


							<li><a href="#filter" data-option-value=".video">FTC</a></li>


						</ul>


					</nav>

					<!-- End Filter -->
                                 



				</div>


				<div class="span9">


					<div class="row">


						<section id="projects">


							<ul id="thumbs">

						
                        
				      

	
								<!-- Item Project and Filter Name -->


									<li class="item-thumbs span3 design">


                                                                   



									<!-- Fancybox - Gallery Enabled - Title - Full Image -->


									<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Subteams" href="_include/img/work/full/image-01-full.jpg" class="" src="file:///U:/FRC%202016/website/brushed%20(1)%20-%20Copy/Brushed/Template/brushed/Fusion text.png"  />


										<span class="overlay-img" style=text-align:center; vertical-align:center; ><br><br><br><br>Fusion Subteams</span>


										<span src="" /></span>

									</a>
                                                                


									<!-- Thumb Image and Description -->


									<img src="file:///U:/FRC%202016/website/brushed%20(1)%20-%20Copy/Brushed/Template/brushed/Images/2015%20Robot.jpg" alt= >


									</li>

								<!-- End Item Project -->
   
                
                                                      



								<!-- Item Project and Filter Name -->

            
									<li class="item-thumbs span3 design">
 
                           	
								<!-- Fancybox - Gallery Enabled - Title - Full Image -->
 
                           	
            								<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Mentors" href="_include/img/work/full/image-02-full.jpg">


										<span class="overlay-img" style=text-align:center; vertical-align:center;><br><br><br><br><br><br><strong>Mentors</strong></span>


               									<span class="overlay-img-thumb font-icon-plus"></span>
  
                              
            								</a>
                
                
									<!-- Thumb Image and Description -->
 
                               
         								<img src="file:///U:/FRC%202016/website/brushed%20(1)%20-%20Copy/Brushed/Template/brushed/Images/brawley.jpg" alt="Mentors" width="270px" height="202px">
 
                           
      									</li>
           
             	
   								<!-- End Item Project -->
                            
							
                                                           



   								<!-- Item Project and Filter Name -->
   
            
      									<li class="item-thumbs span3 photography">
 

                                                   


                           	
								<!-- Fancybox - Gallery Enabled - Title - Full Image -->
 
                           	
									<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Mountains" href="_include/img/work/full/image-03-full.jpg">
 
       
										<span class="overlay-img"></span>
         
                           
										<span class="overlay-img-thumb font-icon-plus"></span>
    
                            
									</a>





                                
								<!-- Thumb Image and Description -->
    
                            
									<img src="_include/img/work/thumbs/image-03.jpg">
  
                          
									</li>
                        	

								<!-- End Item Project -->
 

                                                     


								
								<!-- Item Project and Filter Name -->
     

                   	
									<li class="item-thumbs span3 video">
     


									<!-- Fancybox Media - Gallery Enabled - Title - Link to Video -->
   
                         	
									<a class="hover-wrap fancybox-media" data-fancybox-group="video" title="Video Content From Vimeo" href="http://vimeo.com/51460511">
   
                        
										<span class="overlay-img"></span>
      
                              
										<span class="overlay-img-thumb"></span>
    
                            
									</a>
                    
            
									<!-- Thumb Image and Description -->
 
                               
									<img src="_include/img/work/thumbs/image-08.jpg" alt="Video">
   
                         
									</li>
                       


 								<!-- End Item Project -->
 

                                                  


   
                        
					<!-- Item Project and Filter Name -->
  
      
                							<li class="item-thumbs span3 photography">
 
                           
                                                             


									<!-- Fancybox - Gallery Enabled - Title - Full Image -->
   

									<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Sea" href="_include/img/work/full/image-04-full.jpg">
 
                               	
										<span class="overlay-img"></span>
            
     
										<span class="overlay-img-thumb font-icon-plus"></span>

                                
									</a>
                                

                                                      


									
									<!-- Thumb Image and Description -->

                                
										<img src="_include/img/work/thumbs/image-03.jpg">
   
                         
									</li>
           
             	
								<!-- End Item Project -->

                            
					

	
								<!-- Item Project and Filter Name -->
 
                       	
									<li class="item-thumbs span3 photography">

                            	
									<!-- Fancybox - Gallery Enabled - Title - Full Image -->
 
                           	
										<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Clouds" href="_include/img/work/full/image-05-full.jpg">
 
                               	
											<span class="overlay-img"></span>
       
                             
											<span class="overlay-img-thumb font-icon-plus"></span>
 
                               
										</a>
                                
                                                                 


									<!-- Thumb Image and Description -->
 
                               
										<img src="_include/img/work/thumbs/image-05.jpg">
 
                           
									</li>
    

                    						<!-- End Item Project -->
    

                                            

                      
							
								<!-- Item Project and Filter Name -->
                        	

									<li class="item-thumbs span3 video">
                            	

									<!-- Fancybox Media - Gallery Enabled - Title - Link to Video -->
  
                          	
										<a class="hover-wrap fancybox-media" data-fancybox-group="video" title="Video Content From Vimeo" href="http://vimeo.com/50834315">
  
                              	
											<span class="overlay-img"></span>
   
                                 
											<span class="overlay-img-thumb font-icon-plus"></span>
  
   
										</a>
                                
                                                                


									<!-- Thumb Image and Description -->
 

 										<img src="_include/img/work/thumbs/image-09.jpg" alt="Video">


									</li>
 
                       	
								<!-- End Item Project -->


                            
					

		
								<!-- Item Project and Filter Name -->
  
                      	
									<li class="item-thumbs span3 design">
 
                           	
									<!-- Fancybox - Gallery Enabled - Title - Full Image -->
 
                           	
										<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Dark" href="_include/img/work/full/image-06-full.jpg">
 
                               	
											<span class="overlay-img"></span>
       

											<span class="overlay-img-thumb font-icon-plus"></span>
 
                               
										</a>
            
                                                                     


									<!-- Thumb Image and Description -->
 
                               
										<img src="_include/img/work/thumbs/image-03.jpg">
       

	   
									</li>

                        	
								<!-- End Item Project -->

                           
													

	
					
								<!-- Item Project and Filter Name -->

             
									<li class="item-thumbs span3 design">

                            	
									<!-- Fancybox - Gallery Enabled - Title - Full Image -->

                            	
										<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Beach" href="_include/img/work/full/image-07-full.jpg">

                                	
											<span class="overlay-img"></span>

                                    
											<span class="overlay-img-thumb font-icon-plus"></span>

                                
										</a>
                                
								


									<!-- Thumb Image and Description -->
 

										<img src="_include/img/work/thumbs/image-07.jpg" alt="The Beach">
        

									</li>

                        	
								<!-- End Item Project -->


                        				



							</ul>

                    
						</section>

                    
            	
					</div>

            
				</div>

        
			</div>

        
		<!-- End Portfolio Projects -->



    
		</div>


	</div>


	<!-- End Our Work Section -->


	<!-- Current Projects Section --><!--Page 2-->


	<div id="work" class="page">


		<div class="container">


		<!-- Title Page -->


			<div class="row">


				<div class="span12">


                			<div class="title-page">


						<h2 class="title">Sub-Teams</h2>


						<h3 class="title-description">Fusion sub-teams 2016</h3>


					</div>


            			</div>


					
        		</div>

   		<!-- End Title Page -->
		<!--Feb 6-->
        <!-- Start Tabs -->
            <div class="span6">
            	
                
            	<div class="tabbable">
                
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active"><a href="#tab1" data-toggle="tab">Technical</a></li>
                        <li><a href="#tab2" data-toggle="tab">Communication</a></li>
                        <li><a href="#tab3" data-toggle="tab">Administrative</a></li>
                    </ul>
                 
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1">
                           <div class="accordion" id="accordionArea">
										<div class="accordion-group">
											<div class="accordion-heading accordionize">
												<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionArea" href="#oneArea">
													Systems										
													<span class="font-icon-arrow-simple-down"></span>
												</a>
											</div>
											<div id="oneArea" class="accordion-body collapse">
											<div class="accordion-inner">
												Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. 
												Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla. 
												Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet. Donec sed odio dui. 
												Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. 
										Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.
									</div>
								</div>
							</div>
						
						<div class="accordion-group">
							<div class="accordion-heading accordionize">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionArea" href="#twoArea">
								Research and Development
								<span class="font-icon-arrow-simple-down"></span>
							</a>
							</div>
							<div id="twoArea" class="accordion-body collapse">
								<div class="accordion-inner">
									Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. 
									Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla. 
									Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet. Donec sed odio dui. 
									Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. 
									Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.
								</div>
							</div>
						</div>
						
                    <div class="accordion-group">
                        <div class="accordion-heading accordionize">
						
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionArea" href="#threeArea">
                            Construction
                            <span class="font-icon-arrow-simple-down"></span>
                        </a>
                        </div>
                        <div id="threeArea" class="accordion-body collapse">
                            <div class="accordion-inner">
                                Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. 
                                Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla. 
                                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet. Donec sed odio dui. 
                                Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. 
                                Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.
                            </div>
                        </div>
                    </div>

					
            	</div>  
                        </div><!--Here-->
					
                        <div class="tab-pane fade in" id="tab2">
                           <div class="accordion" id="accordionArea">
										<div class="accordion-group">
											<div class="accordion-heading accordionize">
												<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionArea" href="#oneArea">
													Graphic Design
													<span class="font-icon-arrow-simple-down"></span>
												</a>
											</div>
											<div id="oneArea" class="accordion-body collapse">
											<div class="accordion-inner">
												Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. 
												Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla. 
												Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet. Donec sed odio dui. 
												Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. 
										Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.
									</div>
								</div>
							</div>
						
						<div class="accordion-group">
							<div class="accordion-heading accordionize">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionArea" href="#twoArea">
								Video
								<span class="font-icon-arrow-simple-down"></span>
							</a>
							</div>
							<div id="twoArea" class="accordion-body collapse">
								<div class="accordion-inner">
									Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. 
									Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla. 
									Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet. Donec sed odio dui. 
									Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. 
									Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.
								</div>
							</div>
						</div>
						
                    <div class="accordion-group">
                        <div class="accordion-heading accordionize">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionArea" href="#threeArea">
                            Web Development
                            <span class="font-icon-arrow-simple-down"></span>
                        </a>
                        </div>
                        <div id="threeArea" class="accordion-body collapse">
                            <div class="accordion-inner">
                                Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. 
                                Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla. 
                                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet. Donec sed odio dui. 
                                Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. 
                                Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.
                            </div>
                        </div>
                    </div>
            	</div>
                        </div><!--HERE-->
				
                        <div class="tab-pane fade in" id="tab3">
                           <div class="accordion" id="accordionArea">
										<div class="accordion-group">
											<div class="accordion-heading accordionize">
												<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionArea" href="#oneArea">
													Admin
													<span class="font-icon-arrow-simple-down"></span>
												</a>
											</div>
											<div id="oneArea" class="accordion-body collapse">
											<div class="accordion-inner">
												Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. 
												Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla. 
												Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet. Donec sed odio dui. 
												Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. 
										Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.
									</div>
								</div>
							</div>
						
						<div class="accordion-group">
							<div class="accordion-heading accordionize">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionArea" href="#twoArea">
								Finance
								<span class="font-icon-arrow-simple-down"></span>
							</a>
							</div>
							<div id="twoArea" class="accordion-body collapse">
								<div class="accordion-inner">
									Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. 
									Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla. 
									Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet. Donec sed odio dui. 
									Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. 
									Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.
								</div>
							</div>
						</div>
						
                    <div class="accordion-group">
                        <div class="accordion-heading accordionize">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionArea" href="#threeArea">
                            Cost Accounting
                            <span class="font-icon-arrow-simple-down"></span>
                        </a>
                        </div>
                        <div id="threeArea" class="accordion-body collapse">
                            <div class="accordion-inner">
                                Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. 
                                Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla. 
                                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet. Donec sed odio dui. 
                                Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. 
                                Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.
                            </div>
                        </div>
                    </div>
            	</div>
                        </div>
                    </div>
                            
				</div>
            </div>
            <!-- End Tabs -->
<!-- Start Accordion/Toggle Section -->
						<!--	<div class="row">
							
								<div class="span3">
									<h3 class="spec">Accordion</h3>
									
									<!-- Start Accordion -->
									
                <!-- End Accordion -->

   
   		
		
			<!-- Portfolio Projects -->


			<!-- <div class="row">


				<div class="span3">

                           
<!--Second One-->

					<!-- Filter -->


					<!-- <nav id="options" class="work-nav">


						<ul id="filters" class="option-set" data-option-key="filter">


							<li class="type-work">Team</li>


							<li><a href="#filter" data-option-value="*" class="selected">All Teams</a></li>


							<li><a href="#filter" data-option-value=".design">Team Fusion FRC#364</a></li>


							<li><a href="#filter" data-option-value=".photography">Lemelson-MIT InvenTeam</a></li>


							<li><a href="#filter" data-option-value=".video">FTC</a></li>


						</ul>


					</nav>


					<!-- End Filter -->
                                 



				<!-- </div>


				<div class="span9">


					<div class="row">


						<section id="projects">


							<ul id="thumbs">

						
                        
				      

	
								<!-- Item Project and Filter Name -->


									<!-- <li class="item-thumbs span3 design">


                                                                   



									<!-- Fancybox - Gallery Enabled - Title - Full Image -->


								<!-- 	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Subteams" href="_include/img/work/full/image-01-full.jpg" class="" src="_include/img/work/full/image-04-full.jpg" />


										<span class="overlay-img" style=text-align:center; vertical-align:center; ><br><br><br><br>Fusion Subteams</span>


										<span src="" /></span>

									</a>
                                                                


									<!-- Thumb Image and Description -->


								<!-- 	<img src="_include/img/work/thumbs/image-03.jpg"alt="Fusion Subteams">


									</li>

								<!-- End Item Project -->
   
                
                                                      



								<!-- Item Project and Filter Name -->

            
								<!-- 	<li class="item-thumbs span3 design">
 
                           	
								<!-- Fancybox - Gallery Enabled - Title - Full Image -->
 
                           	
            						<!-- 		<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Mentors" href="_include/img/work/full/image-03-full.jpg">


										<span class="overlay-img" style=text-align:center; vertical-align:center;><br><br><br><br><br><br><strong>Mentors</strong></span>


               									<span class="overlay-img-thumb font-icon-plus"></span>
  
                              
            								</a>
                
                
									<!-- Thumb Image and Description -->
 
                               
         							<!-- 	<img src="_include/img/work/thumbs/image-03.jpg" alt="Mentors" width="270px" height="202px">
 
                           
      									</li>
           
             	
   								<!-- End Item Project -->
                            
							
                                                           



   								<!-- Item Project and Filter Name -->
   
            
      								<!-- 	<li class="item-thumbs span3 photography">
 

                                                   


                           	
								<!-- Fancybox - Gallery Enabled - Title - Full Image -->
 
                           	
								<!-- 	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Mountains" href="_include/img/work/full/image-03-full.jpg">
 
       
										<span class="overlay-img"></span>
         
                           
										<span class="overlay-img-thumb font-icon-plus"></span>
    
                            
									</a>



                                
								<!-- Thumb Image and Description -->
    
                            
								<!-- 	<img src="_include/img/work/thumbs/image-03.jpg">
  
                          
									</li>
                        	

								<!-- End Item Project -->
 

                                                     


								
								<!-- Item Project and Filter Name -->
     

                   	
								<!-- 	<li class="item-thumbs span3 video">
     


									<!-- Fancybox Media - Gallery Enabled - Title - Link to Video -->
   
                         	
							<!-- 		<a class="hover-wrap fancybox-media" data-fancybox-group="video" title="Video Content From Vimeo" href="http://vimeo.com/51460511">
   
                        
										<span class="overlay-img"></span>
      
                              
										<span class="overlay-img-thumb font-icon-plus"></span>
    
                            
									</a>
                    
            
									<!-- Thumb Image and Description -->
 
                               
								<!-- 	<img src="_include/img/work/thumbs/image-08.jpg" alt="Video">
   
                         
									</li>
                       


 								<!-- End Item Project -->
 

                                                  


   
                        
					<!-- Item Project and Filter Name -->
  
      
                				<!-- 			<li class="item-thumbs span3 photography">
 
                           
                                                             


									<!-- Fancybox - Gallery Enabled - Title - Full Image -->
   

							<!-- 		<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Sea" href="_include/img/work/full/image-04-full.jpg">
 
                               	
										<span class="overlay-img"></span>
            
     
										<span class="overlay-img-thumb font-icon-plus"></span>

                                
									</a>
                                

                                                      


									
									<!-- Thumb Image and Description -->

                                
							<!-- 			<img src="_include/img/work/thumbs/image-04.jpg">
   
                         
									</li>
           
             	
								<!-- End Item Project -->

                            
					

	
								<!-- Item Project and Filter Name -->
 
                       	
								<!-- 	<li class="item-thumbs span3 photography">

                            	
									<!-- Fancybox - Gallery Enabled - Title - Full Image -->
 
                           	
									<!-- 	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Clouds" href="_include/img/work/full/image-05-full.jpg">
 
                               	
											<span class="overlay-img"></span>
       
                             
											<span class="overlay-img-thumb font-icon-plus"></span>
 
                               
										</a>
                                
                                                                 


									<!-- Thumb Image and Description -->
 
                               
									<!-- 	<img src="_include/img/work/thumbs/image-05.jpg">
 
                           
									</li>
    

                    						<!-- End Item Project -->
    

                                            

                      
							
								<!-- Item Project and Filter Name -->
                        	

								<!-- 	<li class="item-thumbs span3 video">
                            	

									<!-- Fancybox Media - Gallery Enabled - Title - Link to Video -->
  
                          	
								<!-- 		<a class="hover-wrap fancybox-media" data-fancybox-group="video" title="Video Content From Vimeo" href="http://vimeo.com/50834315">
  
                              	
											<span class="overlay-img"></span>
   
                                 
											<span class="overlay-img-thumb font-icon-plus"></span>
  
   
										</a>
                                
                                                                


									<!-- Thumb Image and Description -->
 

 								<!-- 		<img src="_include/img/work/thumbs/image-09.jpg" alt="Video">


									</li>
 
                       	
								<!-- End Item Project -->


                            
					

		
								<!-- Item Project and Filter Name -->
  
                      	
							<!-- 		<li class="item-thumbs span3 design">
 
                           	
									<!-- Fancybox - Gallery Enabled - Title - Full Image -->
 
                           	
							<!-- 			<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Dark" href="_include/img/work/full/image-06-full.jpg">
 
                               	
											<span class="overlay-img"></span>
       

											<span class="overlay-img-thumb font-icon-plus"></span>
 
                               
										</a>
            
                                                                     


									<!-- Thumb Image and Description -->
 
                               
								<!-- 		<img src="_include/img/work/thumbs/image-06.jpg">
       

	   
									</li>

                        	
								<!-- End Item Project -->

                           
													

	
					
								<!-- Item Project and Filter Name -->

             
							<!-- 		<li class="item-thumbs span3 design">

                            	
									<!-- Fancybox - Gallery Enabled - Title - Full Image -->

                            	
									<!-- 	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Beach" href="_include/img/work/full/image-07-full.jpg">

                                	
											<span class="overlay-img"></span>

                                    
											<span class="overlay-img-thumb font-icon-plus"></span>

                                
										</a>
                                
								


									<!-- Thumb Image and Description -->
 

								<!-- 		<img src="_include/img/work/thumbs/image-07.jpg">
        

									</li>

                        	
								<!-- End Item Project -->


                        				



					<!-- 		</ul>

                    
						</section>

                    
            	
					</div>

            
				</div>

        
			</div>

        
		<!-- End Portfolio Projects -->

	

    
		</div>


	</div>


	<!-- End Our Work Section -->
	
	

	<!-- About Section -->


	<div id="about" class="page-alternate">


		<div class="container">
    

			<!-- Title Page -->
    

			<div class="row">
        

				<div class="span12">
            

					<div class="title-page">
                

						<h2 class="title">Info</h2>
                

						<h3 class="title-description">Learn more about our background</h3>
            

					</div>
        

				</div>
    

			</div>
    

			<!-- End Title Page -->
    
    	

			<!-- People -->
    

			<div class="row">
    	
        

				<!-- Start Profile -->
    	
			
				<div class="span4 profile">
        	

					<div class="image-wrap">
                
				

						<div class="hover-wrap">
						<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Beach" href="file:///U:/FRC%202016/website/brushed%20(1)%20-%20Copy/Brushed/Template/brushed/Images/fusion364.png">

						
					
							<span class="overlay-img"></span>
                    

							<span class="overlay-text-thumb">Team Fusion</span>
									</a>

						</div>
                

						<img src= "file:///U:/FRC%202016/website/brushed%20(1)%20-%20Copy/Brushed/Template/brushed/Images/FRC_2.jpg"  alt="First" width="370px" height="185px">
          

		 
					</div>
            

					<h3 class="profile-name" style= text-align:center >About Mississippi's rising robotics team</h3>
            

						<p class="profile-description" >Team Fusion #364 is an FRC team founded in 1999. Since its conception, Team Fusion has been a driving force in FIRST robotics competitions and continues today. To learn more, click on the picture above.<a href="#"></a>.
</p>
            	
            
							<div class="social">
            	

								<ul class="social-icons">
                	

									<li><a href="#"><i class="font-icon-social-twitter"></i></a></li>
                    

									<li><a href="#"><i class="font-icon-social-dribbble"></i></a></li>
                    

									<li><a href="#"><i class="font-icon-social-facebook"></i></a></li>
                

								</ul>
            

							</div>
        

				</div>
        

<!-- End Profile -->
        
        

<!-- Start Profile -->
    	

<div class="span4 profile">
        	
			


<div class="image-wrap">
                
				

<div class="hover-wrap">
                    		


					<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="First Strongholds">
					

				
<span class="overlay-img"></span>
                    

<span class="overlay-text-thumb" style="font-family:Roman Uncial Modern Font;">First Stronghold</span>
                </a>

</div>
                

<img src="file:///U:/FRC%202016/website/brushed%20(1)%20-%20Copy/Brushed/Template/brushed/Images/first-stronghold.jpg"  alt="FIRST Stronghold">


</div>
            

<h3 class="profile-name" style="text-align: center">Acquire knowledge about this year's FRC game, FIRST Stronghold</h3>

<p class="profile-description">FIRST Stronghold is the 2016 FIRST Robotics Competition game for 2016. In this game, robots are used to cross “castle walls” – different obstacles outlining the “courtyard” – and score “boulders” into the castle towers at the opposite end of the field.
This year's game has a hidden meaning, heavily promoting communication and working with constraints and obstacles. The drivers must communicate with their “spy” or exclusively drive through on-board cameras. This will challenge many people to work together between their own members and with other teams.


May your castles be strong!

</p>
            	
            
<div class="social">
            	

<ul class="social-icons">
                	

<li><a href="#"><i class="font-icon-social-twitter"></i></a></li>
                    

<li><a href="#"><i class="font-icon-social-email"></i></a></li>
                

</ul>
            

</div>
        

</div>
        

<!-- End Profile -->
        
        

<!-- Start Profile -->
    	 
<div class="span4 profile">
        	

			
			
<div class="image-wrap">

              

<div class="hover-wrap">

						<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Mentors" href="file:///U:/FRC%202016/website/brushed%20(1)%20-%20Copy/Brushed/Template/brushed/Images/firstinfo.jpg">
                

<span class="overlay-img"></span>
                  				     

<span class="overlay-text-thumb">First</span>
                
</a>

				
</div>
                

<img src="file:///U:/FRC%202016/website/brushed%20(1)%20-%20Copy/Brushed/Template/brushed/Images/FIRST%20logo.jpg">
          


</div>
            
			
			

<h3 class="profile-name" style=text-align:center>FIRST: For Inspiration and Recognition of Science and Technology</h3>
            
			

<p class="profile-description"> "FIRST is more than robots. The robots are a vehicle for students to learn important life skills. They leave, even after the first season, with vision, with confidence, and with a sense that they can create their own future." - Dean Kamen<a href="#"></a></p>
            	
            

<div class="social">
            	

<ul class="social-icons">
                	

<li><a href="#"><i class="font-icon-social-twitter"></i></a></li>
                    

<li><a href="#"><i class="font-icon-social-linkedin"></i></a></li>
                    

<li><a href="#"><i class="font-icon-social-google-plus"></i></a></li>
                    

<li><a href="#"><i class="font-icon-social-vimeo"></i></a></li>
                

</ul>
            

</div>
        

</div>
        

<!-- End Profile -->
        
    

</div>
    

<!-- End People -->

</div>


</div>
<div id = "Zomboy" align = "center">
<p style="font-family: Titillium Web; font-size: 36px; color: white;"><strong><br>2016 FRC Game Reveal</strong><p>
</p>
<iframe   width="640" height="360" src="https://www.youtube.com/embed/VqOKzoHJDjA" frameborder="0" allowfullscreen></iframe>
<p><br></p>

</div>

<!-- End About Section -->



<!-- Contact Section -->


<div id="contact" class="page">
<div class="container">
    

<!-- Title Page -->
    

<div class="row">
        

<div class="span12">
            

<div class="title-page">
                

<h2 class="title">Get in Touch with Us</h2>
                

<h3 class="title-description">We are happy to talk with you</h3>
            

</div>
        

</div>
    

</div>
    

<!-- End Title Page -->
    
    

<!-- Contact Form -->
    

<div class="row">
    	

<div class="span9">
        
        	

<form id="contact-form" class="contact-form" action="#">
            	

<p class="contact-name">
            		

<input id="contact_name" type="text" placeholder="Full Name" value="" name="name" />
                

</p>
                

<p class="contact-email">
                	

<input id="contact_email" type="text" placeholder="Email Address" value="" name="email" />
                

</p>
                

<p class="contact-message">
                	

<textarea id="contact_message" placeholder="Your Message" name="message" rows="15" cols="40"></textarea>
                

</p>
                

<p class="contact-submit">
                	

<a id="contact-submit" class="submit" href="#">Send Your Email</a>
                

</p>
                
                

<div id="response">
                
                

</div>
            

</form>
         
       

</div>
        
        

<div class="span3">
        	

<div class="contact-details">
        		

<h3>Contact Details</h3>
                

<ul>
                    

<li><a href="#">364teamfusion@gmail.com</a></li>
                   
                    

<li>
                        

Gulfport High School
                        

<br>
                        

100 Perry St. 
                        

<br>
                        

Gulfport, MS, 39507
                    

</li>
                

</ul>
            

</div>
       

</div>
    

</div>
    

<!-- End Contact Form -->


</div>


</div>



<!-- End Contact Section -->

<!-- Twitter Feed -->


<div id="twitter-feed" class="page-alternate">
	

<div class="container">
    	

<div class="row">
            

<div class="span12">
                

<div class="follow">
                    

<a href="https://twitter.com/Bluxart" title="Follow Me on Twitter" target="_blank"><i class="font-icon-social-twitter"></i></a>
                

</div>
                    
                

<div id="ticker" class="query"> 
                

</div>
            

</div>
        

</div>
    

</div>


</div>


<!-- End Twitter Feed -->



<!-- Socialize -->


<div id="social-area" class="page">
	

<div class="container">
    	

<div class="row">
            

<div class="span12">
                

<nav id="social">
                    

<ul>
                        

<li><a href="https://twitter.com/Bluxart" title="Follow Me on Twitter" target="_blank"><span class="font-icon-social-twitter"></span></a></li>
                        

<li><a href="http://dribbble.com/Bluxart" title="Follow Me on Dribbble" target="_blank"><span class="font-icon-social-dribbble"></span></a></li>
                        

<li><a href="http://forrst.com/people/Bluxart" title="Follow Me on Forrst" target="_blank"><span class="font-icon-social-forrst"></span></a></li>
                        

<li><a href="http://www.behance.net/alessioatzeni" title="Follow Me on Behance" target="_blank"><span class="font-icon-social-behance"></span></a></li>
                        

<li><a href="https://www.facebook.com/Bluxart" title="Follow Me on Facebook" target="_blank"><span class="font-icon-social-facebook"></span></a></li>
                        

<li><a href="https://plus.google.com/105500420878314068694" title="Follow Me on Google Plus" target="_blank"><span class="font-icon-social-google-plus"></span></a></li>
                        

<li><a href="http://www.linkedin.com/in/alessioatzeni" title="Follow Me on LinkedIn" target="_blank"><span class="font-icon-social-linkedin"></span></a></li>
                        

<li><a href="http://themeforest.net/user/Bluxart" title="Follow Me on ThemeForest" target="_blank"><span class="font-icon-social-envato"></span></a></li>
                        

<li><a href="http://zerply.com/Bluxart/public" title="Follow Me on Zerply" target="_blank"><span class="font-icon-social-zerply"></span></a></li>
                    

</ul>
                

</nav>
            

</div>
        

</div>
    

</div>


</div>


<!-- End Socialize -->



<!-- Footer -->


<footer>
	

<p class="credits">&copy;2015 Team Fusion #364. <a href="http://themes.alessioatzeni.com/html/brushed/" title="Brushed | Responsive One Page Template">Brushed Template</a> by <a href="http://www.alessioatzeni.com/" title="Alessio Atzeni | Web Designer &amp; Front-end Developer">Alessio Atzeni</a></p>
</footer>


<!-- End Footer -->



<!-- Back To Top -->


<a id="back-to-top" href="#">
<i class="font-icon-arrow-simple-up"></i>
</a>


<!-- End Back to Top -->



<!-- Js -->


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 

<!-- jQuery Core -->


<script src="_include/js/bootstrap.min.js"></script> 

<!-- Bootstrap -->


<script src="_include/js/supersized.3.2.7.min.js"></script> 

<!-- Slider -->


<script src="_include/js/waypoints.js"></script> 

<!-- WayPoints -->


<script src="_include/js/waypoints-sticky.js"></script> 

<!-- Waypoints for Header -->


<script src="_include/js/jquery.isotope.js">

</script> 

<!-- Isotope Filter -->


<script src="_include/js/jquery.fancybox.pack.js"></script> 

<!-- Fancybox -->


<script src="_include/js/jquery.fancybox-media.js"></script> 

<!-- Fancybox for Media -->


<script src="_include/js/jquery.tweet.js"></script> 

<!-- Tweet -->


<script src="_include/js/plugins.js"></script> 

<!-- Contains: jPreloader, jQuery Easing, jQuery ScrollTo, jQuery One Page Navi -->


<script src="_include/js/main.js"></script> 

<!-- Default JS -->


<!-- End Js -->



</body>


</html>