
<!DOCTYPE html>


	<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->


	<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->


	<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->


	<!--[if (IE 9)]><html class="no-js ie9" lang="en"><![endif]-->


	<!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->



<head>


	<!-- Meta Tags -->


		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />



		<title>Team Fusion #364</title>   


		<meta name="description" content="Insert Your Site Description" /> 






	<!-- Mobile Specifics -->


		<meta name="viewport" content="width=device-width, initial-scale=1.0">


		<meta name="HandheldFriendly" content="true"/>


		<meta name="MobileOptimized" content="320"/>   







	<!-- Mobile Internet Explorer ClearType Technology -->


		<!--[if IEMobile]><meta http-equiv="cleartype" content="on"><![endif]-->






	<!-- Bootstrap -->


		<link href="_include/css/bootstrap.min.css" rel="stylesheet">

        





	
	<!-- Main Style -->


		<link href="_include/css/main.css" rel="stylesheet">







	<!-- Supersized -->


		<link href="_include/css/supersized.css" rel="stylesheet">
		<link href="_include/css/supersized.shutter.css" rel="stylesheet">








	<!-- FancyBox -->
		<link href="_include/css/fancybox/jquery.fancybox.css" rel="stylesheet">

	<!-- Font Icons -->
		<link href="_include/css/fonts.css" rel="stylesheet">


	<!-- Shortcodes -->
		<link href="_include/css/shortcodes.css" rel="stylesheet">

	<!-- Responsive -->

		<link href="_include/css/bootstrap-responsive.min.css" rel="stylesheet">
		<link href="_include/css/responsive.css" rel="stylesheet">

 


	<!-- Supersized -->
	
		<link href="_include/css/supersized.css" rel="stylesheet">
		<link href="_include/css/supersized.shutter.css" rel="stylesheet">


        


	<!-- Google Font -->

		<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900' rel='stylesheet' type='text/css'>
		
	<!-- Fav Icon -->


		<link rel="shortcut icon" href="#">
		<link rel="apple-touch-icon" href="#">
		<link rel="apple-touch-icon" sizes="114x114" href="#">
		<link rel="apple-touch-icon" sizes="72x72" href="#">
		<link rel="apple-touch-icon" sizes="144x144" href="#">

	<!-- Modernizr -->

		<script src="_include/js/modernizr.js"></script>

	<!-- Analytics -->

		<script type="text/javascript">

			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'Insert Your Code']);
			_gaq.push(['_trackPageview']);
			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript';
			ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; 
			s.parentNode.insertBefore(ga, s);
			})();
		</script>

	<!-- End Analytics -->
</head>


	<body>
       
		<!-- This section is for Splash Screen -->


		<div class="ole">


		<section id="jSplash">

		<div id="circle">

		</div>
		</section>


		</div>


	<!-- End of Splash Screen -->


	<!-- Homepage Slider -->
<div id="slider" style="height:90%;">
	<img src="https://farm2.staticflickr.com/1635/24647741474_34aa123127_b.jpg" style="width:100%">



		<!--<div id="home-slider"> 

		<!--Slider Image--><!--<div><img id="Robit" src="https://farm2.staticflickr.com/1539/24810652041_a93dd35169_c.jpg"></div>


		
		<div class="slider-background">

			<div class="slidecaption" style="font: Bold; font-size: 120px; color: #ff6900">              </div>
		
		</div>
		<div class="slider-text"> Team Fusion #364</div>-->
		
		
		<div class="control-nav">

			<a id="nextsection" href="#work"><i class="font-icon-arrow-simple-down"></i></a>

		</div>


		</div>


	<!-- End Homepage Slider -->






	<!-- Header -->
	<header>


		<div class="sticky-nav">


			<a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>


			<div id="logo">


				<a id="goUp" href="#slider" title="Team Fusion #364"><img src="https://farm2.staticflickr.com/1472/24901897906_c71c6c6f77_b.jpg" ></a>


			</div>


			<nav id="menu">


				<ul id="menu-nav">


					<li class="current"><a href="#slider"><strong>Home</strong></a></li>

					<li><a href="#work"><strong>Teams</strong></a></li>
					
					<li><a href="#sub-teams"><strong>Sub-Teams</strong></a></li>
					
					<li><a href="#sponsors"><strong>Sponsors</strong></a></li>

					<li><a href="#contact"><strong>Contact</strong></a></li>
					
					<li><a href="password parent center.html" class="external"><strong>Parent Center</strong></a></li>

					<!--<li><a href="shortcodes.html" class="external">Shortcodes</a></li>-->


				</ul>


			</nav>


		</div>


	</header>


	<!-- End Header -->




	<!-- End Our Work Section -->
	
	

	<!-- About Section -->


	<!--<div id="about" class="page">
<!--<div id="work" class="page-textured">-->

		<!--<div class="container">
    

			<!-- Title Page -->
    

			<!--<div class="row">
        

				<div class="span12">
            

					<div class="title-page">
                

						<h2 class="title">Info</h2>
                

						<h3 class="title-description">Learn more about our background</h3>
            

					</div>
        

				</div>
    

			</div>
    

			<!-- End Title Page -->
    
    	

			<!-- People -->
    
			
			<!--<div class="row">
    	
        

				<!-- Start Profile -->
    	
			
				<!--<div class="span4 profile">
        	

					<div class="image-wrap">
                
				

						<div class="hover-wrap">
						

						<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Beach"  href="https://farm2.staticflickr.com/1511/24878160546_c3c7eb5788_c.jpg"  width="725" height="559" >
						
					
							<span class="overlay-img"></span>
                    

							<span class="overlay-text-thumb"><strong>Team Fusion</strong></span>
									</a>

						</div>
                

						<img src= "https://farm2.staticflickr.com/1567/24276287504_2297cfda8d_h.jpg"  alt="First" width="370px" height="185px">
        

		 
					</div>
            

					<h3 class="profile-name" style= text-align:center >About Mississippi's rising robotics team</h3>
            

						<p class="profile-description" >Team Fusion #364 is an FRC team founded in 1999. Since its conception, Team Fusion has been a driving force in FIRST robotics competitions and continues today. To learn more, click on the picture above.<a href="#"></a>.
</p>
            	
            
							<div class="social">
            	

								<ul class="social-icons">
                	

									<li><a href="#"><i class="font-icon-social-twitter"></i></a></li>
                    

									<li><a href="#"><i class="font-icon-social-dribbble"></i></a></li>
                    

									<li><a href="#"><i class="font-icon-social-facebook"></i></a></li>
                

								</ul>
            

							</div>
        

				</div>
        

<!-- End Profile -->
        
        

<!-- Start Profile -->
    	

<!--<div class="span4 profile">
        	
			


<div class="image-wrap">
                
				

<div class="hover-wrap">
                    		


					

				
<span class="overlay-img"></span>
                    

<span class="overlay-text-thumb" style="font-family:Roman Uncial Modern Font;"><strong>First Stronghold</strong></span>
                </a>

</div>
                

<img src="https://farm2.staticflickr.com/1656/24536810929_1c702f64fd_b.jpg"  alt="FIRST Stronghold">


</div>
            

<h3 class="profile-name" style="text-align: center">Acquire knowledge about this year's FRC game, FIRST Stronghold</h3>

<p class="profile-description">FIRST Stronghold is the 2016 FIRST Robotics Competition game for 2016. In this game, robots are used to cross “castle walls” – different obstacles outlining the “courtyard” – and score “boulders” into the castle towers at the opposite end of the field.
This year's game has a hidden meaning, heavily promoting communication and working with constraints and obstacles. The drivers must communicate with their “spy” or exclusively drive through on-board cameras. This will challenge many people to work together between their own members and with other teams.


May your castles be strong!

</p>
            	
            
<div class="social">
            	

<ul class="social-icons">
                	

<li><a href="#"><i class="font-icon-social-twitter"></i></a></li>
                    

<li><a href="#"><i class="font-icon-social-email"></i></a></li>
                

</ul>
            

</div>
        

</div>
        

<!-- End Profile -->
        
        

<!-- Start Profile -->
    	 
<!--<div class="span4 profile">
        	

			
			
<div class="image-wrap">

              

<div class="hover-wrap">

						<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Mentors" href="https://farm2.staticflickr.com/1521/24786491262_1db792d7d9_c.jpg">
                

<span class="overlay-img"></span>
                  				     

<span class="overlay-text-thumb"><strong>First</strong></span>
                
</a>

				
</div>
                

<img src="https://farm2.staticflickr.com/1561/24878115036_2332c22f63_c.jpg">
          


</div>
            
			
			

<h3 class="profile-name" style=text-align:center>FIRST: For Inspiration and Recognition of Science and Technology</h3>
            
			

<p class="profile-description"> "FIRST is more than robots. The robots are a vehicle for students to learn important life skills. They leave, even after the first season, with vision, with confidence, and with a sense that they can create their own future." - Dean Kamen<a href="#"></a></p>
            	
            

<div class="social">
            	

<ul class="social-icons">
                	

<li><a href="#"><i class="font-icon-social-twitter"></i></a></li>
                    

<li><a href="#"><i class="font-icon-social-linkedin"></i></a></li>
                    

<li><a href="#"><i class="font-icon-social-google-plus"></i></a></li>
                    

<li><a href="#"><i class="font-icon-social-vimeo"></i></a></li>
                

</ul>
            

</div>
        

</div>
        

<!-- End Profile -->
        
    

</div>
    

<!-- End People -->

</div>


</div>

<!--<div id="Video" class="page">
<div align = "center">
<p style="font-family: Titillium Web; font-size: 36px; color: white;"><strong><br>2016 FRC Game Reveal</strong><p>
</p>
<iframe   width="640" height="360" src="https://www.youtube.com/embed/VqOKzoHJDjA" frameborder="0" allowfullscreen></iframe>
<p><br></p>

</div>

<!-- End About Section -->


	

<!-- Current Projects Section -->


	<div id="work" class="page-alternate">
	<!--<div id="work" class="page-textured1">-->

		<div class="container">


		<!-- Title Page -->


			<div class="row">


				<div class="span12">


                			<div class="title-page">


						<h2 class="title">Teams</h2>


						<h3 class="title-description">Team Fusion #364 is comprised of many different teams to <em>fuse</em> together like a strong compound.</h3>


					</div>


            			</div>


        		</div>

   		<!-- End Title Page -->
     


   
   		<!-- Portfolio Projects -->


			<div class="row">


				<div class="span3">

                           
						   


					<!-- Filter -->


					<nav id="options" class="work-nav">


						<ul id="filters" class="option-set" data-option-key="filter">


							<li class="type-work"><strong>Team</strong></li>


							<li><a href="#filter" data-option-value="*" class="selected"><strong>All Teams</strong></a></li>


							<li><a href="#filter" data-option-value=".design"><strong>Team Fusion FRC #364</strong></a></li>


							<li><a id ="hunter" href="#filter" data-option-value=".photography" ><strong>Lemelson-MIT InvenTeam</strong></a></li>


							<li><a href="#filter" data-option-value=".video"><strong>FTC</strong></a></li>


						</ul>


					</nav>

					<!-- End Filter -->
                                 



				</div>


				<div class="span9">


					<div class="row">


						<section id="projects">


							<ul id="thumbs">

						
                        
				      

	
								<!-- Item Project and Filter Name -->


									<li class="item-thumbs span3 design">


                                                                   



									<!-- Fancybox - Gallery Enabled - Title - Full Image -->


									<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Subteams" href="robots page.html" class="" src="https://farm2.staticflickr.com/1472/24901897906_c71c6c6f77_b.jpg"  />


										<span class="overlay-img" style=text-align:center; vertical-align:center; ><br><br><br><br><br><br><strong>Robots</strong></span>


										<span src="https://farm2.staticflickr.com/1472/24901897906_c71c6c6f77_b.jpg" /></span>

									</a>
                                                                


									<!-- Thumb Image and Description -->


									<img id="Vader" src="https://farm2.staticflickr.com/1606/24878585629_127d05b9b2_c.jpg">
									
									
									</li>
									

								<!-- End Item Project -->
   
                
                                                      



								<!-- Item Project and Filter Name -->

            
									<li class="item-thumbs span3 design">
 
                           	
								<!-- Fancybox - Gallery Enabled - Title - Full Image -->
 
                           	
            								<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Mentors" href="achievements page.html">


										<span class="overlay-img" style="text-align:center; vertical-align:center;"><br><br><br><br><br><br><strong>Achievements</strong></span>


               									<!--<span class="overlay-img-thumb font-icon-plus"></span>-->
  
                              
            								</a>
                
                
									<!-- Thumb Image and Description -->

                               
         								<img class="thumb" src="https://farm2.staticflickr.com/1558/24972758362_776b8ede33_b.jpg">
 <!--src="https://farm2.staticflickr.com/1525/24276007744_4ca1c46dbb_z.jpg"-->
                           
      									</li>
   
             	
   								<!-- End Item Project -->
                            
							
                                                           


								<!-- Item Project and Filter Name -->

            
									<li class="item-thumbs span3 design">
 
                           	
								<!-- Fancybox - Gallery Enabled - Title - Full Image -->
 
                           	
            								<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Mentors" href="about page.html">


										<span class="overlay-img" style="text-align:center; vertical-align:center;"><br><br><br><br><br><br><strong>About Us</strong></span>


               									<!--<span class="overlay-img-thumb font-icon-plus"></span>-->
  
                              
            								</a>
                
                
									<!-- Thumb Image and Description -->

                               
         								<img class="thumb" src="https://farm2.staticflickr.com/1624/25145914722_13e3d2c9aa_b.jpg">
 <!--src="https://farm2.staticflickr.com/1525/24276007744_4ca1c46dbb_z.jpg"-->
                           
      									</li>
   
             	
   								<!-- End Item Project -->

 

                                                     


								
								<!-- Item Project and Filter Name -->
     

                   	
									<li class="item-thumbs span3 design">
     


									<!-- Fancybox Media - Gallery Enabled - Title - Link to Video -->
   
                         	
									<a class="hover-wrap fancybox" data-fancybox-group="design" title="FIRST" href="first page.html">
   
                        
										<span class="overlay-img" style="text-align:center; vertical-align:middle;"><br><br><br><br><br><br><strong>About FIRST</strong></span>
      
                              
										<!--<span class="overlay-img-thumb"></span>-->
    
                            
									</a>
                    
            
									<!-- Thumb Image and Description -->
 
                               
									<img class="thumb" src="https://farm2.staticflickr.com/1561/24878115036_2332c22f63_b.jpg" alt="Video">
   
                         
									</li>
                       


 								<!-- End Item Project -->
 

                                                  


   
                        
					<!-- Item Project and Filter Name -->
  
      
                							<li class="item-thumbs span3 design">
 
                           
                                                             


									<!-- Fancybox - Gallery Enabled - Title - Full Image -->
   

									<a class="hover-wrap fancybox" data-fancybox-group="design" title="FIRST Stronghold" href="first stronghold page.html">
 
                               	
										<span class="overlay-img" style="text-align:center; vertical-algin:middle;"><br><br><br><br><br><br><strong>FIRST Stronghold</strong></span>
            
     
										<!--<span class="overlay-img-thumb font-icon-plus"></span>-->

                                
									</a>
                                

                                                      


									
									<!-- Thumb Image and Description -->

                                
										<img class="thumb" src="https://farm2.staticflickr.com/1711/25031479620_c41f5374da_b.jpg">
   
                         
									</li>
           
             	
								<!-- End Item Project -->

                            
					

	
								<!-- Item Project and Filter Name -->
 
                       	
									<li class="item-thumbs span3 photography">

                            	
									<!-- Fancybox - Gallery Enabled - Title - Full Image -->
 
                           	
										<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="About MIT" href="mit page.html">
 
                               	
											<span class="overlay-img" style="text-align:center; vertical-align:middle"><br><br><br><br><br><strong>About Lemelson-MIT InvenTeams</strong></span>
       
                             
											<!--<span class="overlay-img-thumb font-icon-plus"></span>-->
 
                               
										</a>
                                
                                                                 


									<!-- Thumb Image and Description -->
 
                               
										<img class="thumb" src="https://farm2.staticflickr.com/1669/24795308240_7bb26c4c2b_b.jpg">
 
                           
									</li>
    

                    						<!-- End Item Project -->
    

                                            

                      
							
								<!-- Item Project and Filter Name -->
                        	

									<li class="item-thumbs span3 video">
                            	

									<!-- Fancybox Media - Gallery Enabled - Title - Link to Video -->
  
                          	
										<a class="hover-wrap fancybox-media" data-fancybox-group="video" title="Video Content From Vimeo" href="http://vimeo.com/50834315">
  
                              	
											<span class="overlay-img"></span>
   
                                 
											<span class="overlay-img-thumb font-icon-plus"></span>
  
   
										</a>
                                
                                                                


									<!-- Thumb Image and Description -->
 

 										<img class="thumb" src="_include/img/work/thumbs/image-09.jpg" alt="Video">


									</li>
 
                       	
								<!-- End Item Project -->


                            
					

		
								<!-- Item Project and Filter Name -->
  
                      	
									<li class="item-thumbs span3 photography">
 
                           	
									<!-- Fancybox - Gallery Enabled - Title - Full Image -->
 
                           	
										<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Dark" href="_include/img/work/full/image-06-full.jpg">
 
                               	
											<span class="overlay-img"></span>
       

											<span class="overlay-img-thumb font-icon-plus"></span>
 
                               
										</a>
            
                                                                     


									<!-- Thumb Image and Description -->
 
                               
										<img class="thumb" src="_include/img/work/thumbs/image-03.jpg">
       

	   
									</li>

                        	
								<!-- End Item Project -->

                           
													

	
					
								<!-- Item Project and Filter Name -->

             
									<li class="item-thumbs span3 photography">

                            	
									<!-- Fancybox - Gallery Enabled - Title - Full Image -->

                            	
										<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Beach" href="_include/img/work/full/image-07-full.jpg">

                                	
											<span class="overlay-img"></span>

                                    
											<span class="overlay-img-thumb font-icon-plus"></span>

                                
										</a>
                                
								


									<!-- Thumb Image and Description -->
 

										<img class="thumb" src="_include/img/work/thumbs/image-07.jpg" alt="The Beach">
        

									</li>

                        	
								<!-- End Item Project -->


                        				



							</ul>

                    
						</section>

                    
            	
					</div>

            
				</div>

        
			</div>

        
		<!-- End Portfolio Projects -->



    
		</div>


	</div>


	<!-- End Our Work Section -->


	<!-- Current Projects Section --><!--Page 2-->


	<div id="sub-teams" class="page">
<!--<div id="sub-teams" class="page-textured">-->

		<div class="container">


		<!-- Title Page -->


			<div class="row">


				<div class="span12">


                			<div class="title-page">


						<h2 class="title">FRC Sub-Teams</h2>


						


					</div>


            			</div>


        		</div>

   		<!-- End Title Page -->
		
<!-- Our Shortcodes Section -->
<!--<div id="shortcodes" class="page">
	<div class="container">
    
    	<!-- Title Page 
        <div class="row">
            <div class="span12">
                <div class="title-page">
                 
                </div>
            </div>
        </div>
        <!-- End Title Page -->
        
							<!-- Start Accordion/Toggle Section -->
							<div class="row">
							
								<div class="span6" >
									<h3 class="spec" style="text-align:center"><strong>Administrative</strong><br><p style="font-size:20px">Team Captain: Ashley Brock</p></h3>
									
									<p style="text-align:center">The administrative team is responsible for running team meetings, organizing public relations and coordinating Fusion’s involvement in the community. Their efforts include sharing the team’s mission with officials, professional organizations and potential members and working on building managerial skills to use in the future.</p>
									<!-- Start Accordion -->
									<div class="accordion" id="accordionArea">
										<div class="accordion-group">
											<div class="accordion-heading accordionize">
												<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionArea" href="#oneArea" style="text-align:center">Awards
													<span class="font-icon-arrow-simple-down"></span>
												</a>
											</div>
											<div id="oneArea" class="accordion-body collapse">
											<div class="accordion-inner">
												The awards sub-team is in charge of ensuring that all awards are applied for and each sub-team is meeting their milestones on time. These individuals keep our team on track and oversee every sub-team in managerial positons.
												<br><br>
												<u>Team Member(s):</u>
												<br>
												Ashley Brock<br>
												Kallie Gosnell<br>
												John Michael Ladner<br>
												Joahana Vega<br>
									</div>
								</div>
							</div>
						
						<div class="accordion-group">
							<div class="accordion-heading accordionize">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionArea" href="#twoArea"style="text-align:center">Cost Accounting
								<span class="font-icon-arrow-simple-down"></span>
							</a>
							</div>
							<div id="twoArea" class="accordion-body collapse">
								<div class="accordion-inner">
									The cost accounting sub-team tracks our costs and mantains the bill of materials. This mathematics-based team concentrates on tracking all expenses and building skills that will be useful in the future.
									<br><br>
									<u>Team Member(s):</u>
									<br>
									Austin Michaels (Triangle)<br>
								</div>
							</div>
						</div>
						
                    <div class="accordion-group">
                        <div class="accordion-heading accordionize">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionArea" href="#threeArea" style="text-align:center">Financial
                            <span class="font-icon-arrow-simple-down"></span>
                        </a>
                        </div>
                        <div id="threeArea" class="accordion-body collapse">
                            <div class="accordion-inner">
                                The financial sub-team  oversees all business-related work as well as formulating our team business plan and keeping the team under budget.
								<br><br>
								<u>Team Member(s):</u>
								<br>
								Sophie Unson - Captain<br>
								Cameron Rupert<br>
								Natasha Williams<br>
                            </div>
                        </div>
                    </div>
            	</div>
                <!-- End Accordion -->
        	</div>
            
			<!-- Start Accordion/Toggle Section -->
							
								<div class="span6">
									<h3 class="spec" style="text-align:center"><strong>Communications</strong><br><p style="font-size:20px">Team Captain: Tatianna Myers</p></h3>
									<p style="text-align:center">The communications sub-team is responsible for portraying Team Fusion to the world. They are in charge of any and all technology-based activities by keeping up the website, designing 3D parts and flyers, and creating our team videos.</p>
									<!-- Start Accordion -->
									<div class="accordion" id="accordionPerimeter">
					
					
						<div class="accordion-group">
							<div class="accordion-heading accordionize">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionPerimeter" href="#fourPlus" style="text-align:center">
								Graphic Design
								<span class="font-icon-arrow-simple-down"></span>
							</a>
							</div>
							<div id="fourPlus" class="accordion-body collapse">
								<div class="accordion-inner">
									The graphic design team is the sub-team responsible for all of Team Fusion’s logos, brochures and other aesthetic needs. This team is important as their designs are used for the website, social media and all of Team Fusion’s specialty items.
									<br><br>
									<u>Team Member(s):</u><br>
									Bailey Emmer - Captain<br>
									Keanu Clark<br>
									Vincent Correro<br>
									Corey "Voltage" Nilges<br>
								</div>
							</div>
						</div>
						<div class="accordion-group">
							<div class="accordion-heading accordionize">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionPerimeter" href="#tenPlus" style="text-align:center">
								Video
								<span class="font-icon-arrow-simple-down"></span>
							</a>
							</div>
							<div id="tenPlus" class="accordion-body collapse">
								<div class="accordion-inner">
									Video team is tasked with capturing every moment and memory of what Team Fusion does. Every event, build day, and community service act is captured in pictures and videos. These videos and pictures are used by the website team, graphics team, and public relations team to present all of Team Fusion’s progress and deeds. This sub-team is also in charge of creating the videos to present for the Chairman’s Award.
									<br><br>
									<u>Team Member(s):</u><br>
									Tatianna Myers - Captain<br>
									Austin Bacy<br>
									Dayna Piper<br>
								</div>
							</div>
						</div>
                    <div class="accordion-group">
                        <div class="accordion-heading accordionize">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionPerimeter" href="#threePlus" style="text-align:center">
                            Website
                            <span class="font-icon-arrow-simple-down"></span>
                        </a>
                        </div>
                        <div id="threePlus" class="accordion-body collapse">
                            <div class="accordion-inner">
                                The website sub-team is responsible for the team’s internet outreach and all aspects of the website. This is crucial in today’s technological society in spreading the word about our team.<br><br>
								<u>Team Member(s):</u><br>
								Bailey Emmer - Captain<br>
								Nathan Blakeney<br>
								Keanu Clark<br>
								Leslie Michua<br>
                            </div>
                        </div>
                    </div>
					</div>
					</div>
            
				  
                <!-- End Accordion -->

				<!-- Start Accordion/Toggle Section -->
							
								<div class="span6">
									<h3 class="spec" style="text-align:center"><strong>Technical</strong><br><p style="font-size:20px">Team Captain: Austin Michaels "Triangle"</p></h3>
									<p style="text-align:center">The technical sub-team is responsible for the development of the robot and practice field. These tactile students program, wire, assemble, and build the prototypes, field and robot each year while learning how to use the power tools and act in a shop environment</p>
									<!-- Start Accordion -->
									<div class="accordion" id="accordion3">
					
					
						<div class="accordion-group">
							<div class="accordion-heading accordionize">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#techone" style="text-align:center">
								Systems								<span class="font-icon-arrow-simple-down"></span>
							</a>
							</div>
							<div id="techone" class="accordion-body collapse">
								<div class="accordion-inner">
									Systems includes mechanical, electrical, drive and pneumatic sub-teams. They are directly responsible for designing, building, wiring and controlling the robot every year.
									<br><br>
									<u>Electrical Team Members:</u><br>
									Anthony Piascik<br>
									Samuel Boggs<br>
									Connor Hobby<br><br>
									
									<u>Mechanical Team Members:</u><br>
									Joseph Dobson - Captain<br>
									Peyton Bergin<br>
									Connor Hobby<br>
									John Michael Ladner<br>
									Jhordin McDuffie<br>
									Joahana Vega<br><br>
									
									<u>Research and Development</u><br>
									Jake Cloud - Captain<br>
									Connor Hobby<br>
									Bailey Emmer

								</div>
							</div>
						</div>
						<div class="accordion-group">
							<div class="accordion-heading accordionize">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#techtwo" style="text-align:center">
								Construction
								<span class="font-icon-arrow-simple-down"></span>
								</a>
							</div>
							<div id="techtwo" class="accordion-body collapse">
								<div class="accordion-inner">
									The construction team is directly responsible for the construction of the practice field, which changes each year along with the game. The team also uses a 3-D printer to create trial parts for testing as the robot design evolves.<br><br>
									
									<u>Team Member(s):</u><br>
									Brittani Legette - Captain<br>
									Abraham Loredo<br>
									Austin Norris<br>
									Gabriel Williams<br>
									Tanner Williams<br>
								</div>
							</div>
						</div>
                    
            
				  
                <!-- End Accordion -->
        <!-- End Accordion/Toggle Section -->
				
				
				
				
				
				
   
        <!-- End Accordion/Toggle Section -->
                        </div>
                    </div>
                           
			
            <!--<div class="span6">
            	<h3 class="spec" style="text-align:center">Technical</h3>
                <p style="text-align:center">The technical sub-team is responsible for the development of the robot and practice field. These tactile students program, wire, assemble, and build the prototypes, field and robot each year while learning how to use the power tools and act in a shop environment.</p>
				<p style="text-align:center"><strong>Team Captain: Austin Michaels (Triangle)</strong></p>
            	<!-- Start Toggle -->
                <!--<div class="accordion" id="toggleArea">
                
                    <div class="accordion-group">
                        <div class="accordion-heading accordionize">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#collapseOne" style="text-align:center">Construction
                                <span class="font-icon-arrow-simple-down"></span>
                            </a>
                        </div>
                        <div id="collapseOne" class="accordion-body collapse">
                            <div class="accordion-inner">
                                The construction team is directly responsible for the construction of the practice field, which changes each year along with the game. The team also uses a 3-D printer to create trial parts for testing as the robot design evolves.<br><br>
								Team Member(s):<br>
								Brittani Legette - Captain<br>
								Abraham Loredo<br>
								Austin Norris<br>
								Gabriel Williams<br>
								Tanner Williams<br>
                            </div>
                        </div>
                    </div>
                    
                    <div class="accordion-group">
                        <div class="accordion-heading accordionize">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#collapseTwo" style="text-align:center">Systems
                            
                        <span class="font-icon-arrow-simple-down"></span>
                        </a>
                        </div>
                        <div id="collapseTwo" class="accordion-body collapse">
                            <div class="accordion-inner">
                                Systems includes mechanical, electrical, drive and pneumatic sub-teams. They are directly responsible for designing, building, wiring and controlling the robot every year.<br><br>
								<u>Electrical Team Members:</u><br>
								Anthony Piascik<br>
								Samuel Boggs<br>
								Connor Hobby<br><br>
								<u>Mechanical Team Members:</u><br>
								Joseph Dobson - Captain<br>
								Peyton Bergin<br>
								Connor Hobby<br>
								John Michael Ladner<br>
								Jhordin McDuffie<br>
								Joahana Vega<br><br>
								<u>Research and Development</u><br>
								Jake Cloud - Captain<br>
								Connor Hobby<br>
                            </div>
                        </div>
                    </div>
                    
  
                    
                </div>
                <!-- End Toggle -->
            </div>
            
        </div>
		
            </div>
			</div>
            <!-- End Tabs -->


<div id="sponsors" class="page-alternate">
<!--<div id="sponsors" class="page-textured1">-->
		<div class="container">


		<!-- Title Page -->


			<div class="row">


				<div class="span12">


                			<div class="title-page">


						<h2 class="title">Sponsors</h2>


						<h3 class="title-description">Over the years, Team Fusion has gained many sponsorships to help promote the Team Fusion and FIRST message. These sponsors are imperative to our success, so please take a moment of your time to visit their sites, thank you!<h3>


					</div>


            			</div>


        		</div>

   		<!-- End Title Page -->
     


   
   		<!-- Portfolio Projects -->


			<div class="row">


				<div class="span2">

                           
						   


					<!-- Filter -->


				<!--	<nav id="options" class="work-nav">


						<ul id="filters" class="option-set" data-option-key="filter">


							<li class="type-work">Team</li>


							<li><a href="#filter" data-option-value="*" class="selected">All Teams</a></li>


							<li><a href="#filter" data-option-value=".design">Team Fusion FRC#364</a></li>


							<li><a id ="hunter" href="#filter" data-option-value=".photography" >Lemelson-MIT InvenTeam</a></li>


							<li><a href="#filter" data-option-value=".video">FTC</a></li>


						</ul>


					</nav>

					<!-- End Filter -->
                                 



				</div>


				<div class="span9">


					<div class="row">


						<section id="projects">


							<ul id="thumbs">

						
                        
				      

	
								<!-- Item Project and Filter Name -->


									<li class="item-thumbs span3 design">


                                                                   



									<!-- Fancybox - Gallery Enabled - Title - Full Image -->


									<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Nasa" target="_blank" href="http://www.nasa.gov/"  />


										<span class="overlay-img" style="text-align:center;"><br><br><br>Nasa</span>


										<!--<span src="" /></span>-->

									</a>
                                                                


									<!-- Thumb Image and Description -->


									<img class="resize" src="https://farm2.staticflickr.com/1679/25090915285_37da387521_b.jpg" >
									
									
									</li>
									

								<!-- End Item Project -->
   
                
                                                      


								<!-- Item Project and Filter Name -->

            
									<li class="item-thumbs span3 design">
 
                           	
								<!-- Fancybox - Gallery Enabled - Title - Full Image -->
 
                           	
            								<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="AVL" target="_blank" href="http://www.avlwealthcare.com/">


										<span class="overlay-img" style="text-align:center;"><br><br><br>AVL</span>


               									<!--<span class="overlay-img-thumb font-icon-plus"></span>-->
  
                              
            								</a>
                
                
									<!-- Thumb Image and Description -->

                               
         								<img  class="resize" src="https://farm2.staticflickr.com/1677/24723590309_20192cd371_b.jpg" >
 <!--FIX-->
                           
      									</li>
   
             	
   								<!-- End Item Project -->
                            
							
                                                           



   								<!-- Item Project and Filter Name -->
   
            
      									<li class="item-thumbs span3 photography">
 

                                                   


                           	
								<!-- Fancybox - Gallery Enabled - Title - Full Image -->
 
                           	
									<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Community Bank" target="_blank" href="http://www.communitybank.net/">
 
       
										<span class="overlay-img" style="text-align:center;"><br><br><br>Community Bank</span>
         
                           
									
    
                            
									</a>





                                
								<!-- Thumb Image and Description -->
    
                            
									<img class="resize" src="https://farm2.staticflickr.com/1569/24795316190_03074a9980_b.jpg">
  
                          
									</li>
                        	

								<!-- End Item Project -->
 

                                                     


								
								<!-- Item Project and Filter Name -->
     

                   	
									<li class="item-thumbs span3 video">
     


									<!-- Fancybox Media - Gallery Enabled - Title - Link to Video -->
   
                         	
									<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Ingalls" target="_blank" href="http://ingalls.huntingtoningalls.com/">
   
                        
										<span class="overlay-img" style="text-align:center;"><br><br><br>Ingalls</span>
      
                              
						
    
                            
									</a>
                    
            
									<!-- Thumb Image and Description -->
 
                               
									<img class="resize" src="https://farm2.staticflickr.com/1637/25090922375_4aec0a6d4d_b.jpg">
   
                         
									</li>
                       


 								<!-- End Item Project -->
 

                                                  


   
                        
					<!-- Item Project and Filter Name -->
  
      
                							<li class="item-thumbs span3 photography">
 
                           
                                                             


									<!-- Fancybox - Gallery Enabled - Title - Full Image -->
   

									<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Mississippi Power" target="_blank" href="http://www.mississippipower.com/">
 
                               	
										<span class="overlay-img" style="text-align:center;"><br><br><br>Mississippi Power</span>
            
     
									

                                
									</a>
                                

                                                      


									
									<!-- Thumb Image and Description -->

                                
										<img class="resize" src="https://farm2.staticflickr.com/1586/24464050153_0cc72867e4_b.jpg">
   
                         
									</li>
           
             	
								<!-- End Item Project -->

                            
					

	
								<!-- Item Project and Filter Name -->
 
                       	
									<li class="item-thumbs span3 photography">

                            	
									<!-- Fancybox - Gallery Enabled - Title - Full Image -->
 
                           	
										<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Lockheed Martin" target="_blank" href="http://www.lockheedmartin.com/">
 
                               	
											<span class="overlay-img" style="text-align:center;"><br><br><br>Lockheed Martin</span>
       
                             
				
 
                               
										</a>
                                
                                                                 


									<!-- Thumb Image and Description -->
 
                               
										<img class="resize" src="https://farm2.staticflickr.com/1528/24723245209_761157622b_b.jpg">
 
                           
									</li>
    

                    						<!-- End Item Project -->
    

                                            

                      
							
								<!-- Item Project and Filter Name -->
                        	

									<li class="item-thumbs span3 video">
                            	

									<!-- Fancybox Media - Gallery Enabled - Title - Link to Video -->
  
                          	
										<a class="hover-wrap fancybox" data-fancybox-group="Gallery" title="Pepsi" target="_blank" href="http://www.pepsi.com/en-us/d/">
  
                              	
											<span class="overlay-img" style="text-align:center;"><br><br><br>Pepsi</span>
   
                                 
								
  
   
										</a>
                                
                                                                


									<!-- Thumb Image and Description -->
 

 										<img class="resize" src="https://farm2.staticflickr.com/1474/24795306080_5801291620_b.jpg">


									</li>
 
                       	
								<!-- End Item Project -->


                            
					

		
								<!-- Item Project and Filter Name -->
  
                      	
									<li class="item-thumbs span3 design">
 
                           	
									<!-- Fancybox - Gallery Enabled - Title - Full Image -->
 
                           	
										<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Rotary Club" target="_blank" href="https://www.rotary.org/">
 
                               	
											<span class="overlay-img" style="text-align:center;"><br><br><br>Rotary Club</span>
       

								
 
                               
										</a>
            
                                                                     


									<!-- Thumb Image and Description -->
 
                               
										<img class="resize" src="https://farm2.staticflickr.com/1443/24460223524_6a048b353a_b.jpg">
       

	   
									</li>

                        	
								<!-- End Item Project -->

                           
													

	
					
								<!-- Item Project and Filter Name -->

             
									<li class="item-thumbs span3 design">

                            	
									<!-- Fancybox - Gallery Enabled - Title - Full Image -->

                            	
										<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Seemann Composites" target="_blank" href="http://www.seemanncomposites.com/">

                                	
											<span class="overlay-img" style="text-align:center;"><br><br><br>Seemann Composites</span>

                                    
								

                                
										</a>
                                
								


									<!-- Thumb Image and Description -->
 

										<img class="resize" src="https://farm2.staticflickr.com/1644/24997593571_9ff780d4d6_b.jpg">
        

									</li>

                        	
								<!-- End Item Project -->


                        												<!-- Item Project and Filter Name -->
  
                      	
									<li class="item-thumbs span3 design">
 
                           	
									<!-- Fancybox - Gallery Enabled - Title - Full Image -->
 
                           	
										<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="PTC" target="_blank" href="http://www.ptc.com/">
 
                               	
											<span class="overlay-img" style="text-align:center;"><br><br><br>PTC</span>
       

								
 
                               
										</a>
            
                                                                     


									<!-- Thumb Image and Description -->
 
                               
										<img class="resize" src="https://farm2.staticflickr.com/1714/24464044423_eef5460100_b.jpg">
       

	   
									</li>

                        	
								<!-- End Item Project -->

								<!-- Item Project and Filter Name -->
  
                      	
									<li class="item-thumbs span3 design">
 
                           	
									<!-- Fancybox - Gallery Enabled - Title - Full Image -->
 
                           	
										<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Solidworks" target="_blank" href="http://www.solidworks.com/">
 
                               	
											<span class="overlay-img" style="text-align:center;"><br><br><br>Solidworks</span>
       

								
 
                               
										</a>
            
                                                                     


									<!-- Thumb Image and Description -->
 
                               
										<img class="resize" src="https://farm2.staticflickr.com/1594/24460221344_e096a0de8c_b.jpg">
       

	   
									</li>

                        	
								<!-- End Item Project -->
																<!-- Item Project and Filter Name -->
  
                      	
									<li class="item-thumbs span3 design">
 
                           	
									<!-- Fancybox - Gallery Enabled - Title - Full Image -->
 
                           	
										<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Marine Inc" target="_blank" href="http://www.usmi.com/">
 
                               	
											<span class="overlay-img" style="text-align:center;"><br><br><br>Marine Inc</span>
       

								
 
                               
										</a>
            
                                                                     


									<!-- Thumb Image and Description -->
 
                               
										<img class="resize" src="https://farm2.staticflickr.com/1613/24795298210_bb26f1768b_b.jpg">
       

	   
									</li>

                        	
								<!-- End Item Project -->

							</ul>

                    
						</section>

                    
            	
					</div>

            
				</div>

        
			</div>


</div>
    
		</div>


	</div>

<!-- Contact Section -->


<div id="contact" class="page">
<div class="container">
    

<!-- Title Page -->
    

<div class="row">
        

<div class="span12">
            

<div class="title-page">
                

<h2 class="title">Get in Touch</h2>
                

<h3 class="title-description">We’re delighted to talk to you!</h3>
            

</div>
        

</div>
    

</div>
    

<!-- End Title Page -->
    
    

<!-- Contact Form -->
    

<div class="row">
    	

<div class="span9">
        
        	

<form id="contact-form" class="contact-form" action="#">
            	

<p class="contact-name">
            		

<input id="contact_name" type="text" placeholder="Full Name" value="" name="name" />
                

</p>
                

<p class="contact-email">
                	

<input id="contact_email" type="text" placeholder="Email Address" value="" name="email" />
                

</p>
                

<p class="contact-message">
                	

<textarea id="contact_message" placeholder="Your Message" name="message" rows="15" cols="40"></textarea>
                

</p>
                

<p class="contact-submit">
                	

<a id="contact-submit" class="submit" href="#">Send Your Email</a>
                

</p>
                
                

<div id="response">
                
                

</div>
            

</form>
         
       

</div>
        
        

<div class="span3">
        	

<div class="contact-details">
        		

<h3>Contact Details</h3>
                

<ul>
                    

<li><a href="#">364teamfusion@gmail.com</a></li>
                    

<li>
                        

Team Fusion #364
                        

<br>
                        

100 Perry St.
                        

<br>
                        

Gulfport, MS	39507
                    

</li>
                

</ul>
            

</div>
       

</div>
    

</div>
    

<!-- End Contact Form -->


</div>


</div>



<!-- End Contact Section -->



<!-- Socialize -->


<div id="social-area" class="page">
	

<div class="container">
    	

<div class="row">
            

<div class="span12">
                

<nav id="social">
                    

<ul>
                        

<li><a href="https://twitter.com/Bluxart" title="Follow Me on Twitter" target="_blank"><span class="font-icon-social-twitter"></span></a></li>
                        

<li><a href="http://dribbble.com/Bluxart" title="Follow Me on Dribbble" target="_blank"><span class="font-icon-social-dribbble"></span></a></li>
                        

<li><a href="http://forrst.com/people/Bluxart" title="Follow Me on Forrst" target="_blank"><span class="font-icon-social-forrst"></span></a></li>
                        

<li><a href="http://www.behance.net/alessioatzeni" title="Follow Me on Behance" target="_blank"><span class="font-icon-social-behance"></span></a></li>
                        

<li><a href="https://www.facebook.com/Bluxart" title="Follow Me on Facebook" target="_blank"><span class="font-icon-social-facebook"></span></a></li>
                        

<li><a href="https://plus.google.com/105500420878314068694" title="Follow Me on Google Plus" target="_blank"><span class="font-icon-social-google-plus"></span></a></li>
                        

<li><a href="http://www.linkedin.com/in/alessioatzeni" title="Follow Me on LinkedIn" target="_blank"><span class="font-icon-social-linkedin"></span></a></li>
                        

<li><a href="http://themeforest.net/user/Bluxart" title="Follow Me on ThemeForest" target="_blank"><span class="font-icon-social-envato"></span></a></li>
                        

<li><a href="http://zerply.com/Bluxart/public" title="Follow Me on Zerply" target="_blank"><span class="font-icon-social-zerply"></span></a></li>
                    

</ul>
                

</nav>
            

</div>
        

</div>
    

</div>


</div>


<!-- End Socialize -->



<!-- Footer -->


<footer>
	


</footer>


<!-- End Footer -->



<!-- Back To Top -->


<a id="back-to-top" href="#">
<i class="font-icon-arrow-simple-up"></i>
</a>


<!-- End Back to Top -->



<!-- Js -->


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 

<!-- jQuery Core -->


<script src="_include/js/bootstrap.min.js"></script> 

<!-- Bootstrap -->


<script src="_include/js/supersized.3.2.7.min.js"></script> 

<!-- Slider -->


<script src="_include/js/waypoints.js"></script> 

<!-- WayPoints -->


<script src="_include/js/waypoints-sticky.js"></script> 

<!-- Waypoints for Header -->


<script src="_include/js/jquery.isotope.js">

</script> 

<!-- Isotope Filter -->


<script src="_include/js/jquery.fancybox.pack.js"></script> 

<!-- Fancybox -->


<script src="_include/js/jquery.fancybox-media.js"></script> 

<!-- Fancybox for Media -->


<script src="_include/js/jquery.tweet.js"></script> 

<!-- Tweet -->


<script src="_include/js/plugins.js"></script> 

<!-- Contains: jPreloader, jQuery Easing, jQuery ScrollTo, jQuery One Page Navi -->


<script src="_include/js/main.js"></script> 

<!-- Default JS -->


<!-- End Js -->



</body>


</html>